<ion-header>
  <ion-toolbar>
    <ion-title>
      Julian Trebach 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-padding">
    <ion-avatar class="avatar">
      <img id="imgSection" src="https://i.etsystatic.com/16080595/r/il/de02d3/1598899924/il_1588xN.1598899924_2tso.jpg"/>
   </ion-avatar>
</div>

<ion-list>
  <ion-item>
    <ion-label>Firstname</ion-label>
    Julian
  </ion-item>
  <ion-item>
    <ion-label>Lastname</ion-label>
    Trebach
  </ion-item>

  <ion-item> 
  <ion-label>Github</ion-label>
    Juliantreb
  </ion-item>
  <ion-item>
    <ion-label>Birthdate</ion-label>
    12/27/2000
  </ion-item>
  
  
</ion-list>
<h2 class="ion-padding">Interests <ion-icon name="happy"></ion-icon></h2>
  <ion-item>
  <div> 
   <ion-chip>
      <ion-avatar>
        <img src="http://clipart-library.com/images/pT7KeypT9.png">
      </ion-avatar>
      <ion-label>Running</ion-label>
    </ion-chip>
    <ion-chip>
        <ion-avatar>
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a6/Major_League_Baseball_logo.svg/1200px-Major_League_Baseball_logo.svg.png
          ">
        </ion-avatar>
        <ion-label>Baseball</ion-label>
      </ion-chip>
    <ion-chip>
      <ion-avatar>
        <img src="https://res.cloudinary.com/teepublic/image/private/s--yOR84SFC--/t_Resized%20Artwork/c_fit,g_north_west,h_954,w_954/co_191919,e_outline:48/co_191919,e_outline:inner_fill:48/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_jpg,h_630,q_90,w_630/v1515273371/production/designs/2259350_1.jpg">
      </ion-avatar>
      <ion-label>Listening to Music</ion-label>
    </ion-chip>
      </div>
    
</ion-item>
<div class="ion-padding">
    <h2>Skills <ion-icon name="build"></ion-icon></h2>
    <ion-chip>
      <ion-label>Switching tabs slightly slower than Miki</ion-label>
    </ion-chip>
    <ion-chip>
        <ion-label>Taking a very long time to write simple code</ion-label>
      </ion-chip>
      <ion-chip>
        Calc 3
      </ion-chip>
      <ion-chip> 
        <ion-button (click)="pressMe()">My Best Skill</ion-button>
      </ion-chip>
</div>


<h2 class="ion-padding">Favorite Teams <ion-icon name="baseball"></ion-icon></h2>
  <ion-item>
  <div> 
   <ion-chip>
      <ion-avatar>
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a3/Washington_Nationals_logo.svg/1200px-Washington_Nationals_logo.svg.png">
      </ion-avatar>
      <ion-label>Washington Nationals</ion-label>
    </ion-chip>
    <ion-chip>
        <ion-avatar>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Brooklyn_Nets_newlogo.svg/1200px-Brooklyn_Nets_newlogo.svg.png
          ">
        </ion-avatar>
        <ion-label>Brooklyn Nets</ion-label>
      </ion-chip>
  </div>
  </ion-item>

  <ion-button (click)="showToast('top')">Click to put in bread</ion-button>





        
</ion-content>



      



    
        
        


